.card {
    margin-top: 2rem;
    .title {
        text-align: center;
        font-weight: 600;
        color: var(--ion-color-secondary) !important;
    }
    .details {
        font-size: 1rem;
        font-weight: 400;
        color: white;
        text-align: center;
    }
    .priceTag {
        color: var(--ion-color-secondary) !important;
        font-weight: 300;
        text-align: center;
    }
    .text-container {
        width: 100%;
    }
    .attachedImg {
        width: 100%;
        height: 25rem;
    }
}