<!-- <ion-header>
  <ion-toolbar>
    <ion-title>my-listings-add</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content #content>
    <!-- <div *ngIf="userPosts$ | async as userPosts">
        <p>{{userPosts[0].title}}</p>
        <p>{{userPosts[0].imageUrl}}</p>
    </div> -->
    <!-- <p>{{posts |json}}</p> -->
    <div *ngIf="userPosts$ | async as userPosts">
        <!-- <p>{{userPosts}}</p> -->
        <ion-card class="cards-bg card" *ngFor="let post of userPosts.posts">
            <ion-card-title>
                <h2 class="title">{{post.title}}</h2>
            </ion-card-title>

            <img *ngIf="post.imageUrl !== '' || post.imageUrl !== null || post.imageUrl !== undefined; else showThis " class="attachedImg" [src]="post.imageUrl">
            <ng-template #showThis>
            </ng-template>

            <ion-card-content class="details">
                <div class="text-container">
                    <p>{{post.description}}</p>
                    <ion-row>
                        <ion-col>
                            <h1 class="priceTag">{{post.price |currency}}</h1>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-card-content>
        </ion-card>

    </div>


</ion-content>