.footer {
    display: flex;
    justify-content: space-evenly;
}

.userProfile {
    width: auto;
    .userProfileIcon {
        display: block;
        width: 9.375rem !important;
        margin: auto;
        margin-top: 40px;
    }
    .details {
        p,
        h2,
        h3 {
            display: inline;
        }
        h2 {
            font-size: 1rem;
            font-weight: 400;
            margin-left: 10px;
        }
    }
}

.header_lbl {
    font-size: 1.5rem;
    color: var(--ion-color-secondary) !important;
}

.form {
    text-align: center;
    width: 100%;
    .backBtn {
        position: absolute;
        top: 20px;
        left: 0;
    }
}

.general_btn {
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 1.5rem;
}